.container {
  perspective: 1000px;
}

.container:hover .wrap {
  transform: rotateY(180deg);
}

.wrap {
  transition: all 0.5s linear;
  transform-style: preserve-3d;
}

.face, .back {
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}