.face {
  transition: all 0.5s linear 0.5s;
}

.back {
  transform: rotateY(90deg);
  transition: all 0.5s linear;
}

.wrap:hover .face {
  transform: rotateY(90deg);
  transition: all 0.5s linear;
}

.wrap:hover .back {
  transform: rotateY(180deg);
  transition: all 0.5s linear 0.5s;
}