.face {
  transition: all 0.25s linear 0.25s;
}

.back {
  transform: rotateY(90deg);
  transition: all 0.25s linear;
}

.wrap:hover .face {
  transform: rotateY(90deg);
  transition: all 0.25s linear;
}

.wrap:hover .back {
  transform: rotateY(180deg);
  transition: all 0.25s linear 0.25s;
}